<!DOCTYPE html>
<html>

	<head>
		<meta charset = "UTF-8" />
		<title> ACTORS </title>
	</head>

	<body>

		<div>
			<table>
				<tr>
					<th> ID </th>
					<th> NAME </th>
					<th> SURNAME </th>
					<th> GENDER </th>
					<th> BIRTHDATE </th>
					<th> COUNTRY </th>
				</tr>
				{% for ID, NAME, SURNAME, GENDER, BIRTHDATE, COUNTRY in stars %}
				<tr>
					<td>{{ ID }} </td>
					<td>{{ NAME }} </td>
					<td>{{ SURNAME }} </td>
					<td>{{ GENDER }} </td>
					<td>{{ BIRTHDATE }} </td>
					<td>{{ COUNTRY }} </td>
				</tr>
				{% endfor %}
			</table>


		</div>



	  <div>
      <form action = "/add_actor" method="post" id = "addactor">
        NAME: <input type = "text" name = "NAME"><br>
        SURNAME: <input type = "text" name = "SURNAME"><br>
        GENDER: <input type = "text" name = "GENDER"><br>
        BIRTHDATE: <input type = "text" name = "BIRTHDATE"><br>
        COUNTRY: <input type = "text" name = "COUNTRY"><br>
      </form>

      <button type="submit" form="addactor" value="Submit">Add</button>
    </div>


    <div>
      <form action = "/update_actor" method = "post" id = "updateactor">
        ID: <input type = "text" name = "ID"><br>
        New NAME: <input type = "text" name="N_NAME"><br>
        New SURNAME: <input type="text" name="N_SURNAME"><br>
        New GENDER: <input type="text" name="N_GENDER"><br>
        New BIRTHDATE: <input type="text" name="N_BIRTHDATE"><br>
        New COUNTRY: <input type="text" name="N_COUNTRY"><br>
      </form>

      <button type="submit" form="updateactor" value="Submit">update</button>
    </div>

    <div>
      <form action="/delete_actor" method="post" id="deleteactor">
        Enter ID: <input type="text" name="ID"><br>
      </form>

      <button type="submit" form="deleteactor" value="Submit">Delete</button>
    </div>






	</body>















</html>