<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/login.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	{% extends 'base.html' %} {% block content %}
	<head>
		<meta charset = "UTF-8" />
		<title> ACTORS </title>
	</head>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li class="active">
						<a href="oscars"><strong>Oscar Winners</strong></a>
					</li>
					<li class="active">
						<a href="oscaractor"><strong>Actors and Actresses Won Oscar</strong></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<style>
		#custom {
		    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		#custom td, #custom th {
		    border: 1px solid #ddd;
		    padding: 8px;
		}

		#custom tr:nth-child(even){background-color: #f2f2f2;}

		#custom tr:hover {background-color: #ddd;}

		#custom th {
		    padding-top: 12px;
		    padding-bottom: 12px;
		    text-align: left;
		    background-color: #4CAF50;
		    color: white;
		}
	</style>

	<body>
		<div class="container">
			<table class="w3-table-all w3-margin-top" id="custom">

				<tr>
					<th> ID</th>
					<th> NAME</th>
					<th> SURNAME</th>
					<th> GENDER </th>
					<th> BIRTHDATE </th>
					<th> COUNTRY </th>
				</tr>

				{% for ID, NAME, SURNAME, GENDER, BIRTHDATE, COUNTRY in stars %}
				<tr>
					<td>{{ ID }} </td>
					<td>{{ NAME }} </td>
					<td>{{ SURNAME }} </td>
					<td>{{ GENDER }} </td>
					<td>{{ BIRTHDATE }} </td>
					<td>{{ COUNTRY }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>

	<body>
		<div class = "container text-center">
			<div class = "panel-warning">
				<div class="panel-heading"><strong>Add an Actor or Actress</strong></div>
				<div class = "panel-body">
					<form action = "/add_actor" method="post" id = "addactor">
							NAME: <input type = "text" placeholder = "Name" name = "NAME"><br>
							SURNAME: <input type = "text" placeholder = "Surname" name = "SURNAME"><br>
							GENDER: <input type = "text" placeholder = "Gender" name = "GENDER"><br>
							BIRTHDATE: <input type = "date" placeholder = "Year-Month-Day" name = "BIRTHDATE"><br>
							COUNTRY: <input type = "text" placeholder = "Country" name = "COUNTRY"><br>
					</form>
				</div>
			</div>
			<button type="submit" form="addactor" value="Submit">Add</button>
		</div>
	</body>

	<body>
		<div class = "container text-center">
			<div class = "panel-warning">
				<div class = "panel-heading"><strong>Update an Actor or Actress</strong></div>
				<div class = "panel-body">
					<form action = "/update_actor" method = "post" id = "updateactor">
						ID: <input type = "text" placeholder = "ID" name = "ID"><br>
						New NAME: <input type = "text" placeholder = "Name" name="N_NAME"><br>
						New SURNAME: <input type="text" placeholder = "Surname" name="N_SURNAME"><br>
						New GENDER: <input type="text" placeholder = "Gender" name="N_GENDER"><br>
						New BIRTHDATE: <input type="date" placeholder = "Year-Month-Day" name="N_BIRTHDATE"><br>
						New COUNTRY: <input type="text" placeholder = "Country" name="N_COUNTRY"><br>
					</form>
				</div>
			</div>
			<button type="submit" form="updateactor" value="Submit">Update</button>
		</div>
	</body>

	<body>
		<div class = "container text-center">
			<div class = "panel-warning">
				<div class="panel-heading"><strong>Delete an Actor or Actress</strong></div>
				<div class = "panel-body">
					<form action="/delete_actor" method="post" id="deleteactor">
						ID: <input type="text" placeholder = "Enter ID of actor/actress" name="ID"><br>
					</form>
				</div>
			</div>
			<button type="submit" form="deleteactor" value="Submit">Delete</button>
		</div>
	</body>


{% endblock %}








</html>





