<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/login.css">
	</head>
	{% extends 'base.html' %} {% block content %}
	<head>
		<meta charset = "UTF-8" />
		<title> SERIES </title>
	</head>

	<body>
		<div class="container-fluid">



			<div class="row" style=" margin:0 auto;">
				{% for ID, USER_NAME, SERIE_ID, DESCRIPTION in comments %}
				<div class="container">
			  <div class="well">
			      <div class="media">
				<div class="col-md-12"  >

					<h3>

						<a href="/series/{{ ID }}">{{ ID }}){{ DESCRIPTION }}</a>
					</h3>
					<div class="row">
						<div class="col-md-4">
							<img alt="Bootstrap Image Preview" src="http://cdn.pastemagazine.com/www/blogs/lists/winter-is-coming-game-of-thrones.jpg" class="img-rounded" style="width:100%"/>
						</div>
						<div class="col-md-4">
								<li>

								</li>
								<li>

								</li>
								<li>

								</li>
						</div>
						<div class="col-md-4">
							<p>
								Nine noble families fight for control over the mythical lands of Westeros, while a forgotten race returns after being dormant for thousands of years.
							</p>
						</div>
					</div>
					<div class="row" >
							<p>

							</p>
					</div>
					<div class="row" >
						<div class="col-md-4">

							<button type="button" class="btn btn-primary">
								Favourites
							</button>
						</div>
						<div class="col-md-4">

							<button type="button" class="btn btn-success">
								Like
							</button>
						</div>

						<div class="col-md-4">

							<button type="button" class="btn btn-danger">
								Dislike
							</button>
						</div>
					</div>

				</div>
				</div>
				</div>
				</div>
			</div>
			{% endfor %}

		</div>
		</body>

{% endblock %}

</html>