<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	{% extends 'base.html' %} {% block content %}
	<head>
		<meta charset = "UTF-8" />
		<title> news </title>
	</head>

	<body>

        <div class="news_container" onclick="window.location='#';">
            <div class="news_container_left">


                <div class="news">
                    <div class="news_photo"><img style=" width: 310px; height: 160px;" src="https://img02.imgsinemalar.com/images/haber_anasayfa/orumcek-adam-eve-donus-2nin-yonetmeni-belli-oldu-1513001367.jpg" alt="Girl in a jacket"></div>
                    <div class="news_letter">
                        <div class="baslik">Örümcek Adam: Eve Dönüş 2’nin yönetmeni belli oldu!</div>
                        <div class="tarih">11 Aralık 2017</div>
                        <div class="detay">Marvel Sinematik Evreni’nin başındaki isim Kevin Feige, Spider-Man: Homecoming 2 (Örümcek Adam: Eve Dönüş 2) filminin yönetmenlik koltuğunda yenide...</div>
                    </div>
                </div>





            </div>




        </div>


		</body>

{% endblock %}

</html>