<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/login.css">
	</head>
	{% extends 'base.html' %} {% block content %}

	<style>
		#custom {
		    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		#custom td, #custom th {
		    border: 1px solid #ddd;
		    padding: 8px;
		}

		#custom tr:nth-child(even){background-color: #f2f2f2;}

		#custom tr:hover {background-color: #ddd;}

		#custom th {
		    padding-top: 12px;
		    padding-bottom: 12px;
		    text-align: left;
		    background-color: #4CAF50;
		    color: white;
		}
	</style>

	<body>
		<div class="container">
			<table id="custom">
				<thead>
					<tr>
						<th> NAME</th>
						<th> SURNAME</th>
						<th> GENDER </th>
						<th> BIRTHDATE </th>
						<th> COUNTRY </th>
						<th> YEAR </th>
					</tr>
				</thead>
				{% for NAME, SURNAME, GENDER, BIRTHDATE, COUNTRY, YEAR in persons %}
				<tr>
					<td>{{ NAME }} </td>
					<td>{{ SURNAME }}</td>
					<td>{{ GENDER }} </td>
					<td>{{ BIRTHDATE }} </td>
					<td>{{ COUNTRY }} </td>
					<td>{{ YEAR }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>










	{% endblock %}
</html>
