<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/login.css">
	</head>
	{% extends 'base.html' %} {% block content %}
	<head>
		<meta charset = "UTF-8" />
		<title> OSCARS </title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group">
						<button class="btn btn-default">Order by Year</button>
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="oscars">Newest First</a>
							</li>
							<li>
								<a href="oscars1">Oldest First</a>
							</li>
						</ul>
					</div>
					<div class="btn-group">
					<button class="btn btn-default">Years</button>
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{% for MOVIE, ACTRESS_NAME, ACTRESS_SURNAME, ACTOR_NAME, ACTOR_SURNAME, YEAR in winners %}
						<li>
						<a href="#">{{YEAR}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				</div>
			</div>
		</div>
	</body>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1>Oscar Winners</h1>
					</div>
				</div>
			</div>
		</div>
	</body>

		<div class="container">
			{% for MOVIE, ACTRESS_NAME, ACTRESS_SURNAME, ACTOR_NAME, ACTOR_SURNAME, YEAR in winners %}
			<ul class="list-group">
				<li class="list-group-item-info"><strong>Year: {{YEAR}}</strong></li>
		    	<li class="list-group-item"><strong>Movie: {{MOVIE}}</strong></li>
				<li class="list-group-item"><strong>Actress: {{ACTRESS_NAME}} {{ACTRESS_SURNAME}}</strong></li>
				<li class="list-group-item"><strong>Actor: {{ACTOR_NAME}} {{ACTOR_SURNAME}}</strong></li>
			</ul>
			{% endfor %}
		</div>
	<body>

	</body>
	{% endblock %}
</html>

