<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	{% extends 'base.html' %} {% block content %}
	<head>
		<meta charset = "UTF-8" />
		<title> SERIES </title>
	</head>

	<body>
		<div class="container-fluid">
			<div class="container">
				  <ul class="nav nav-pills">
				    <li class="active"><a data-toggle="pill" href="#home">Series</a></li>
				    <li><a data-toggle="pill" href="#menu1">Add Series</a></li>
				    <li><a data-toggle="pill" href="#menu2">Update Series</a></li>
				    <li><a data-toggle="pill" href="#menu3">Delete Series</a></li>
				  </ul>

				<div class="tab-content">
					    <div id="home" class="tab-pane fade in active" >
							{% for ID , TITLE , STARTYEAR,ENDYEAR, SCORE,VOTES ,PICTURE,DESCRIPTION in nums %}
							    <div class="w3l-movie-gride-agile">
							        <a href="#" class="hvr-shutter-out-horizontal">
							            <img src="{{ PICTURE }}" title="" class="img-series" alt=" " style="width:175px;height:250px"/>

							        </a>
							        <div class="agileits_w3layouts_mid_1_home">
							            <div class="w3l-movie-text">
							                 <a href="/series/{{ ID }}" class="hvr-shutter-out-horizontal">{{ TITLE }}</a>
							            </div>
							            <div class="agile_mid_2_home">
							                {{ STARTYEAR }}

							                <div class="clearfix"></div>
							            </div>
							        </div>


							    <div class="clearfix"></div>
							</div>

						{% endfor %}

					    </div>
					    <div id="menu1" class="tab-pane fade">
						    <div class = "container text-center">
									<div class = "panel-warning">
										<div class = "panel-heading"><strong>Add a Serie</strong></div>
										<div class = "panel-body">
											<form action = "/add_series" method = "post" id = "addseries">
												<input type = "text" class="form-control" placeholder = "TITLE" name="TITLE"><br>
												<input type="text" class="form-control" placeholder = "STARTYEAR" name="STARTYEAR"><br>
												<input type="text" class="form-control" placeholder = "ENDYEAR" name="ENDYEAR"><br>
												<input type="text" class="form-control" placeholder = "SCORE" name="SCORE"><br>
												<input type="text" class="form-control" placeholder = "VOTES" name="VOTES"><br>
												<input type="text" class="form-control" placeholder = "PICTURE" name="PICTURE"><br>
												<input type="text" class="form-control" placeholder = "DESCRIPTION" name="DESCRIPTION"><br>
											</form>
										</div>
									</div>
									<button type="submit" form="addseries" value="Submit">Add a Serie</button>
								</div>
							</div>
						<div id="menu2" class="tab-pane fade">
						    <div class = "container text-center">
									<div class = "panel-warning">
										<div class = "panel-heading"><strong>Update a Serie</strong></div>
										<div class = "panel-body">
											<form action = "/update_series" method = "post" id = "updateseries">
												<input type ="text" class="form-control" placeholder = "ID" name="ID"><br>
												<input type ="text" class="form-control" placeholder = "TITLE" name="TITLE"><br>
												<input type="text" class="form-control" placeholder = "STARTYEAR" name="STARTYEAR"><br>
												<input type="text" class="form-control" placeholder = "ENDYEAR" name="ENDYEAR"><br>
												<input type="text" class="form-control" placeholder = "SCORE" name="SCORE"><br>
												<input type="text" class="form-control" placeholder = "VOTES" name="VOTES"><br>
												<input type="text" class="form-control" placeholder = "PICTURE" name="PICTURE"><br>
												<input type="text" class="form-control" placeholder = "DESCRIPTION" name="DESCRIPTION"><br>
											</form>
										</div>
									</div>
									<button type="submit" form="updateseries" value="Submit">Update a Serie</button>
							</div>
						</div>
						<div id="menu3" class="tab-pane fade">
						    <div class = "container text-center">
									<div class = "panel-warning">
										<div class = "panel-heading"><strong>Update a Serie</strong></div>
										<div class = "panel-body">
											<form action = "/delete_series" method = "post" id = "deleteseries">
												<input type ="text" class="form-control" placeholder = "ID" name="ID"><br>
											</form>
										</div>
									</div>
									<button type="submit" form="deleteseries" value="Submit">Delete a Serie</button>
							</div>
						</div>
				</div>
			</div>


		</div>
		</body>

{% endblock %}

</html>